.footer {
  min-height: 100px;
  background-color: $blk-color;
  color: $font-color;
  text-align: center;
  padding: 30px;
  line-height: 1.6;

  .healthorgs-div {
    display: flex;
    justify-content: center;
    gap: 30px;
   padding:10px 0 10px 0;
    img {
      height: 50px;
      color:white;
    }
  }
}
