.img-landing{
    height: 400px;
    background-image: url("/assets/img/covid-landing.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    .txt-landing{
        display: grid;
        justify-content: center;
        position: relative;
        top: 40%;
        color: $font-color;
    }
}

.data-container{
    overflow-x: hidden;
    .global
    {
        position: relative;
        left: 15%;
        padding:12px;
    }
    .text{
        text-align: center;
        h1{
            padding: 15px;
        }
    }
    .globalCases-container{
        padding: 25px;
        .boxes-container{
            @include grid-setup;
            gap: 40px;
            .box{
                @include box-design;
                text-align: center;
                p{
                    padding: 40px;
                }
            }
        }
    }


    .box-regions{
        @include box-design;
        height: 190px;
        width: 407px;
        padding: 20px;
        table{
            padding: 10px;
            width: 100%;
        }
        .continent{
            font-weight: bold;
        }
        td{
            padding: 4px;
        }
    }
    
    .regionCases{
     @include grid-setup;
        gap: 30px;
    }
    
}
.table-container{
    text-align: center;
    table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
      }
      
      td, th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
      }
      
      tr:nth-child(even) {
        background-color: #dddddd;
      }
}

.country-container{
    overflow-x: hidden;
    display: grid;
    justify-content: center;
    gap: 20px;
    padding: 20px;
    .country{
       position: relative;
       
    }
    .src-container{
     display: grid;
     justify-content: left;
     grid-template-columns: repeat(2,auto);
     gap: 15px;
     padding-left: 10px;
        .txt-src,
        .btn-src{
            height: 32px;
            width: 200px;
        }
        .btn-src{
            cursor: pointer;
        }

        .form-countrySrc{
         display: grid;
         grid-template-columns: repeat(2,auto);
         gap: 20px;
        }
    }
    .boxes{
        @include grid-setup;
        gap: 40px;
        .countryCases-box,
        .countryReco-box,
        .countryDeaths-box{
            @include box-design;
            text-align: center;
            p{
                height: 100px;
                display: grid;
                justify-content: center;
                align-items: center;
            }
        }
    }
}