.img-landing{
    height: 400px;
    background-image: url("/assets/img/covid-landing.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    .txt-landing{
        display: grid;
        justify-content: center;
        position: relative;
        top: 40%;
        color: $font-color;
    }
}

.data-container{
    overflow-x: hidden;
    .global
    {
        position: relative;
        left: 15%;
        padding: 10px;
    }
    .text{
        text-align: center;
        h1{
            padding: 15px;
        }
    }
    .globalCases-container{
        padding: 25px;
        .boxes-container{
            @include grid-setup;
            gap: 40px;
            .box{
                @include box-design;
                text-align: center;
                p{
                    padding: 40px;
                }
            }
        }
    }

    .country-container{
        overflow-x: hidden;
        .country{
            position: relative;
            left: 16.5%;
        }
        .src-container{
            position: relative;
            left: 15.5%;
            display: flex;
            justify-content: flex-start;
            gap: 20px;
            padding: 20px;
            .txt-src,
            .btn-src{
                height: 32px;
                width: 200px;
            }
            .btn-src{
                cursor: pointer;
            }
        }
        .boxes{
            @include grid-setup;
            gap: 40px;
            .countryCases-box,
            .countryReco-box,
            .countryDeaths-box{
                @include box-design;
                text-align: center;
            }
        }
    }
}

.table-container{
    text-align: center;
    table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
      }
      
      td, th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
      }
      
      tr:nth-child(even) {
        background-color: #dddddd;
      }
}